<!-- single-brand-product start -->
<div class="brand-item">
  <div class="single-brand-product">
    <a href="single-product.html">
      <img src="{{card_collection_subas.featured_image| image_url: width: 533 }}" alt="">
    </a>
    <h3 class="brand-title text-gray">
      <a href="#">Brand name</a>
    </h3>
  </div>
</div>
<!-- single-brand-product end -->